html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  background-color: #1e1e1e;
  color: white;
  justify-content: center;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border: 4px solid transparent;
  background-clip: content-box;
  border-radius: 8px;
  transition: .3s;
}

::-webkit-scrollbar-corner {
  background: transparent;
}


/* For games page! Do not delete! */
.games {
  display: grid;
  grid-template-columns: repeat(auto-fill, 159px) !important;
  justify-content: space-between;
  grid-gap: 60px;
  max-width: 1000px;
  margin: 0px auto;
}

/* 
.games {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

  /* Game card */
  .game {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6C0BA9;
    border-radius: 50px;
    padding: 8px;
    transition: .5s;
    z-index: 0;
    height: auto;
    width: 200px;
    color: white;
  }

  .game:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #880ED4;
    z-index: 1;
    box-shadow: 0 8px 6px -6px #880ED4;
  }

  .game:active {
    opacity: 0.3;
  }

  .game h2 {
    color: white;
  }
  
  .game img {
    width: 100%;
    height: auto;
    border-radius: 50px;
  }

/* For popular apps! Do not delete! */
.popularapps {
  display: grid;
  grid-template-columns: repeat(auto-fill, 159px) !important;
  justify-content: space-between;
  grid-gap: 60px;
  max-width: 1000px;
  margin: 0px auto;
}

/* 
.games {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

  /* Game card */
  .popularapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6C0BA9;
    border-radius: 50px;
    padding: 8px;
    transition: .3s;
    z-index: 0;
    height: auto;
    width: 200px;
  }

  .popularapp:hover {
    transform: scale(.95);
    cursor: pointer;
    background-color: #880ED4;
    z-index: 1;
    box-shadow: 0 8px 6px -6px #880ED4;
  }

  .popularapp:active {
    transform:scale(.98);
  }

  .popularapp h2 {
    color: black;
  }
  
  .popularapp img {
    width: 100%;
    height: auto;
    border-radius: 50px;
  }
/* For popular games! Do not delete! */
.populargames {
  display: grid;
  grid-template-columns: repeat(auto-fill, 159px) !important;
  justify-content: space-between;
  grid-gap: 60px;
  max-width: 1000px;
  margin: 0px auto;
}

/* 
.games {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

  /* Game card */
  .populargame {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6C0BA9;
    border-radius: 50px;
    padding: 8px;
    transition: .3s;
    z-index: 0;
    height: auto;
    width: 200px;
  }

  .populargame:hover {
    transform: scale(.95);
    cursor: pointer;
    background-color: #880ED4;
    z-index: 1;
    box-shadow: 0 8px 6px -6px #880ED4;
  }

  .populargame:active {
    transform:scale(.98);
  }

  .populargame h2 {
    color: black;
  }
  
  .populargame img {
    width: 100%;
    height: auto;
    border-radius: 50px;
  }
/* End of tiles */
  a {
    color: white;
    text-decoration: none;
  }

  .title {
    font-size: 65px;
  }

  .line {
    height: 5px;
    width: 97%;
    background-color: #6C0BA9;
    margin-top: 90px;
    border-radius: 33px;
    align-items: center;
    align-self: center;
    align-content: center;
    margin: 0 auto;
  }

  /* Nav */
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #121212;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 45px;
    z-index: 1;
}

.nav a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.2s;
    margin: 20px;
}

.nav a:hover {
    color: grey;
}

.logo {
    border-radius: 12px;
    width: 40px;
    height: auto;
    vertical-align: middle;
}

.active {
    padding: 8px;
    border-radius: 25px;
    border: 5px solid #6C0BA9;
}

input {
  padding: 12px;
  border-radius: 33px;
  border: 2px solid grey;
  font-size: 16px;
  width: 30%;
  transition: .3s;
}

input[type=text] {
  width: 30%;
  -webkit-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
}

/* When the input field gets focus,
    change its width to 100% */
input[type=text]:focus {
 width: 50%;
}

::placeholder[type=text]:focus {
  text-align: left;
}

.hyperlink {
  text-decoration: none;
  color: #0076ff;
  scroll-behavior: smooth;
}

.hyperlink:hover {
  text-decoration: underline;
}

.search-toggle {
  size: 0cap;
  vertical-align: center;
  margin-top: 1px;
}

.center-placeholder::placeholder {
  text-align: center;
}

.left-placeholder::placeholder {
  text-align: left;
}

#panel {
  display: none;
}

#phrase {
  font-size: 24px;
}

/* loading dots */
.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}
.dot-flashing::before, .dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
}
.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dot-flashing {
  0% {
    background-color: #9880ff;
  }
  50%, 100% {
    background-color: rgba(152, 128, 255, 0.2);
  }
}

.alert:hover {
  cursor: pointer;
}

.games .no-results-message {
  text-align: center;
  font-size: 20px;
}

.no-results-message {
  text-align: center;
}

.fullscreen-btn { 
  background-color: #A020F0;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  padding: 8px;
  position: fixed;
  top: 7.5%;
  left: 93%;
  z-index: 1000;
}

.fullscreen-btn svg {
  fill: currentColor;
  height: 30px;
  width: 30px;
}

